body {
  font-family: sans-serif;
  background-color: #EBECED;
  color: #3E3E3B;
  margin: 0;
  padding: 0;

  label {
    display: block;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

}

.links {
  color: #3E3E3B;
}

#app {
  background-color: #EBECED;
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.navbar {
  text-align: center;
  background-color: #EBECED;
  border: 0 none;
}

.dbList {
  font-size: 200%;
  margin-top: 1%;
  padding-left: 10%;
  text-align: center;
}

.pieChart {
  padding: 100px;
  height: 500px
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
}
.selectQuery {
  margin: 0 auto;
  padding: 0 auto;
}


