body {
  font-family: sans-serif;
  background-color: #355c7d;

  label {
    display: block;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

#app {
  background-color: #355c7d
}

.navbar {
  text-align: center;
  background-color: black;
}

.createdCharts {
  background-color: white;
}

.container {
  background-color: #355c7d;
}

.dbList {
  padding-left: 10%;
}
.badge {
  padding-left: 1%;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.center {
  position: absolute;
  padding-left: 10%;
  margin: 0%;
}

.pieChart {
  padding: 100px;
  height: 500px
}



.oneColor {
  background-color: #355c7d
}

.twoColor {
  background-color: #6c5b7b
}

.threeColor {
  background-color: #c06c84
}

.fourColor {
  background-color: #f67280
}

.fiveColor {
  background-color: #f8b195
}

