@mixin main-background() {
  &::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../img/blur-bg.jpg') no-repeat center center;
    background-size: cover;
    will-change: transform;
    z-index: -1;
  }
}
